@model Server.Entities.DesafioColorado.TelefoneViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.IdTelefone" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTelefone" />
            <input type="hidden" asp-for="DataInsercao" />
            <div class="form-group">
                <label asp-for="IdTelefone" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="IdTelefone" readonly class="form-control" />
                </div>
                <span asp-validation-for="IdTelefone" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="NumeroTelefone" class="control-label"></label>
                        <input asp-for="NumeroTelefone" class="form-control" />
                        <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Operadora" class="control-label"></label>
                        <input asp-for="Operadora" class="form-control" />
                        <span asp-validation-for="Operadora" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="" class="control-label"></label>
                        <input asp-for="NomeFantasia" class="form-control" />
                        <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                    </div>
                </div> *@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Ativo" class="control-label"></label>
                        <input type="checkbox" asp-for="Ativo" class="form-control" />
                        <span asp-validation-for="Ativo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CodigoCliente" class="control-label"></label>
                        <input asp-for="CodigoCliente" class="form-control" />
                        <span asp-validation-for="CodigoCliente" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UsuarioInsercao" class="control-label"></label>
                        <input asp-for="UsuarioInsercao" class="form-control" />
                        <span asp-validation-for="UsuarioInsercao" class="text-danger"></span>
                    </div>
                </div>
             </div>
           

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
